<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
      }
      .main-table th,
      .main-table td {
        padding: 2px 4px;
        border: 1px solid rgb(0, 0, 0);
      }
      th, td {
        background: rgb(255, 255, 255);
        font-size: xx-small;
      }
    </style>
    <title>Bendahara</title>
  </head>
  <body
    style="background-color: white"
    id="body"
  >
    <form action="/spj/download" method="GET" id="formSPJ">

    </form>

        <div class="container text-center">
            <button class="btn" style="background-color: white;" form="formSPJ"></button>
            <div class="text-center mb-3">
                <h3 style="color: black;"> Daftar Pertanggungjawaban 1</h1>
            </div>
        </div>
        <div class="m-3">
            <table class="main-table table">
                <thead class="align-middle text-center thead">
                    <tr class="tr">
                        <td class="td" rowspan="2" >No</td>
                        <td class="td" rowspan="2" >Nama</td>
                        <td class="td" rowspan="2" >NIP/NRP</td>
                        <td class="td" rowspan="2" colspan="3"  >Tanggal Perjalanan</td>
                        <td class="td" rowspan="2"  style="max-width: 70px;" >Lama Perjalanan (hari)</td>
                        <td class="td" colspan="8"  >Biaya</td>
                        <td class="td" rowspan="2" >Tanda Tangan</td>
                    </tr>
                    <tr class="tr">
                        <td class="td" rowspan="2" scope="col">Tiket PP</td>
                        <td class="td" scope="col">Uang Harian </td>
                        <td class="td" scope="col">Penginapan </td>
                        <td class="td" scope="col">Translok Jakarta</td>
                        <td class="td" scope="col" style="max-width: 70px;" >Translok Tempat Tujuan </td>
                        <td class="td" scope="col">Biaya Lainnya </td>
                        <td class="td" scope="col" style="max-width: 70px;">Uang Representatif</td>
                        <td class="td" scope="col">Total</td>
                    </tr>
                </thead>
                <tbody class="align-middle text-center tbody">
                    <tr>
                        <td class="td" scope="col">1</td>
                        <td class="td" scope="col">{{nama}}</td>
                        <td class="td" scope="col">{{nip}}</td>
                        <td class="td" scope="col">{{tanggalJalan}}</td>
                        <td class="td" scope="col">s.d.</td>
                        <td class="td" scope="col">{{tanggalPulang}}</td>
                        <td class="td" scope="col">{{lamaPerjalanan}}</td>
                        <td class="td" scope="col">{{tiketPP}}</td>
                        <td class="td" scope="col">{{uangHarian}}</td>
                        <td class="td" scope="col">{{penginapan}}</td>
                        <td class="td" scope="col">{{translokJakarta}}</td>
                        <td class="td" scope="col">{{translokTempatTujuan}}</td>
                        <td class="td" scope="col">{{biayaLainnya}}</td>
                        <td class="td" scope="col">{{uangRepresentatif}}</td>
                        <td class="td" scope="col">{{total}}</td>
                        <td class="td" scope="col"></tr>
                    </tr>
                    <tr>
                        <td class="td" scope="col" colspan="7">Jumlah</td>
                        <td class="td" scope="col">280.000</td>
                        <td class="td" scope="col">1.720.000</td>
                        <td class="td" scope="col">-</td>
                        <td class="td" scope="col">-</td>
                        <td class="td" scope="col">-</td>
                        <td class="td" scope="col">-</td>
                        <td class="td" scope="col">-</td>
                        <td class="td" scope="col">2.000.000</td>
                        <td class="td" scope="col"> </td>
                    </tr>
                </tbody>
              </table>
              <table class="non-table" style="width: 40%;border: none; margin-top: 1em;">
                <tr>
                    <th>Surat Tugas (Tanggal/Nomor) </th>
                    <th>:</th>
                    <th>RT.01/01.1/1837/2022</th>
                    <th>Tanggal: 12/12/2023</th>
                </tr>
                <tr>
                    <th>Beban pada DIPA PPATK </th>
                    <th>:</th>
                    <th colspan="2">DIPA-078.01.1.453374/2022 Tgl. 17 November 2021</th>
                </tr>
                <tr>
                    <th>Kode AKUN </th>
                    <th>:</th>
                    <th colspan="2">078.01.3384.BCE.002.052.B.524111</th>
                </tr>
              </table>
              <div class="row mt-5" >
                <div class="col">
                    <table class="text-center">
                        <tr><th>Bendahara Pengeluaran</th></tr>
                        <tr><th style="height: 50px;"></th></tr>
                        <tr><th>Edsel Fikriwafii Hidayat</th></tr>
                        <tr><th>199806242020011001</th></tr>
                    </table>
                </div>
                <div class="col"></div>
                <div class="col">
                    <table class="text-center">
                        <tr><th>Pejabat Pembuat Komitmen</th></tr>
                        <tr><th style="height: 50px;"></th></tr>
                        <tr><th>Nurul Hidayati Sukriyono</th></tr>
                        <tr><th>199806242020011001</th></tr>
                    </table>
                </div>
              </div>

  </body>
</html>