<% layout('layout/template.ejs') %>
<div class="container">
    <h1 class="text-center mb-4" style="color:white"> Input Jenis SPBy</h1>

    <form action="/input/jenis-spby" method="POST">
    <!-- Judul besar SPBy -->
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 48rem; background-color: transparent; padding-left: 0em; padding-right: 0em; border-color: transparent;">
        <div class="row d-flex justify-content-center">

          <!-- Jenis SPBy -->
          <div class="col-12">
            <div class="row g-3 align-items-center ">
              <div class="col-auto">
                <label for="inputPassword6" class="col-form-label" style="color: white">Jenis SPBy</label>
              </div>
              <div class="col">
                <input type="text" name="jenisSPBy" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required>
              </div>      
            </div> 
          </div>        
          <!-- Tunai -->
          <!-- <div class="col-2 align-self-center d-flex justify-content-center">
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="jenis" value="Tunai" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" style="color: white">
                  Tunai
                </label>
              </div>
            </div>
          </div> -->
          <!-- KKP -->
          <!-- <div class="col-2 align-self-center">
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="jenis" value="KKP" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1" style="color: white">
                  KKP
                </label>
              </div>
            </div>
          </div> -->
          
        </div>
      </div>
    </div>
    
      
    <!-- ini table:    -->
    <div class="row justify-content-center mt-4">
      <div class="card" style="width: 48rem; background-color: white; padding-left: 0em; padding-right: 0em;">
        <div style="overflow:scroll; height:350px;">
        <div class="card-body">          
            <table class="table table-bordered mb-0">
              <tbody>            
                <!-- baris 1 -->
                <tr>
                  <div class="row">
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="ttdPPK" type="checkbox" value="TTD PPK pada Kwitansi" id="flexCheckDefault1">
                          <label class="form-check-label" for="flexCheckDefault1">
                            TTD PPK pada Kwitansi
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="permohonanPembayaran" type="checkbox" value="Permohonan Pembayaran" id="flexCheckChecked2">
                          <label class="form-check-label" for="flexCheckChecked2">
                            Permohonan Pembayaran Translok
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="buktiPembayaranKKP" type="checkbox" value="Bukti Pembayaran KKP" id="flexCheckDefault3">
                          <label class="form-check-label" for="flexCheckDefault3">
                            Bukti Pembayaran KKP
                          </label>
                        </div>
                      </div>
                    </td>
                  </div>
                </tr>
                <!-- baris 2 -->
                <tr>
                  <div class="row">
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="pengeluaranRiil" type="checkbox" value="Pengeluaran Riil" id="flexCheckDefault4">
                          <label class="form-check-label" for="flexCheckDefault4">
                            Pengeluaran Riil
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="notaDinas" type="checkbox" value="Nota Dinas" id="flexCheckChecked5">
                          <label class="form-check-label" for="flexCheckChecked5">
                            Nota Dinas
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="absensi" type="checkbox" value="Absensi" id="flexCheckDefault6">
                          <label class="form-check-label" for="flexCheckDefault6">
                            Absensi
                          </label>
                        </div>
                      </div>
                    </td>
                  </div>
                </tr>
                <!-- baris 3 -->
                <tr> 
                  <div class="row">
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="persetujuanPBJ" type="checkbox" value="Persetujuan PBJ" id="flexCheckDefault7">
                          <label class="form-check-label" for="flexCheckDefault7">
                            Persetujuan PBJ
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="suratTugas" type="checkbox" value="Surat Tugas" id="flexCheckChecked7">
                          <label class="form-check-label" for="flexCheckChecked7">
                            Surat Tugas
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="spj" type="checkbox" value="SPJ" id="flexCheckDefault8">
                          <label class="form-check-label" for="flexCheckDefault8">
                            SPJ
                          </label>
                        </div>
                      </div>
                    </td>
                  </div>
                </tr>
                <!-- baris 4 -->
                <tr>
                  <div class="row">
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="spd" type="checkbox" value="SPD" id="flexCheckDefault9">
                          <label class="form-check-label" for="flexCheckDefault9">
                            SPD
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="kesesuaianSBM" type="checkbox" value="Kesesuaian SBM" id="flexCheckChecked10">
                          <label class="form-check-label" for="flexCheckChecked10">
                            Kesesuaian SBM
                          </label>
                        </div>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <div class="form-check">
                          <input class="form-check-input" name="rincianTransport" type="checkbox" value="Rincian Transport" id="flexCheckDefault11">
                          <label class="form-check-label" for="flexCheckDefault11">
                            Pengeluaran Riil Transportasi
                          </label>
                        </div>
                      </div>
                    </td>
                  </div>
                </tr>
                
                <!-- baris 5 -->
                <%for (let i=0;i<lainlain.length;i+=3){ %>
                <tr>
                  <div class="row">
                    <td class="col-4">
                      <div>
                        <% if (lainlain[i]){ %>
                        <div class="form-check">
                          <input class="form-check-input" name="lainlain" type="checkbox" value="<%=lainlain[i]._id%>" id="flexCheckDefault-<%=lainlain[i]._id%>">
                          <label class="form-check-label" for="flexCheckDefault-<%=lainlain[i]._id%>">
                            
                              <%= lainlain[i].desc %>
                            
                          </label>
                        </div>
                        <% } %>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <% if (lainlain[i+1]){ %>
                        <div class="form-check">
                          <input class="form-check-input" name="lainlain" type="checkbox" value="<%=lainlain[i+1]._id%>" id="flexCheckDefault-<%=lainlain[i+1]._id%>">
                          <label class="form-check-label" for="flexCheckDefault-<%=lainlain[i+1]._id%>">
                            
                              <%= lainlain[i+1].desc %>
                            
                          </label>
                        </div>
                        <% } %>
                      </div>
                    </td>
                    <td class="col-4">
                      <div>
                        <% if (lainlain[i+2]){ %>
                        <div class="form-check">
                          <input class="form-check-input" name="lainlain" type="checkbox" value="<%=lainlain[i+2]._id%>" id="flexCheckDefault-<%=lainlain[i+2]._id%>">
                          <label class="form-check-label" for="flexCheckDefault-<%=lainlain[i+2]._id%>">                            
                          <%= lainlain[i+2].desc %>                            
                          </label>
                        </div>
                        <% } %>
                      </div>
                    </td>
                  </div>
                </tr>                
                <% } %>
              </tbody>
            </table>
                  <!-- <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
              <button type="button" class="btn btn-primary">Submit</button> -->
          </div>
        </div>
        <div class="pb-3 d-flex justify-content-end" style="padding-right: 1em; margin-top: 1em">
          <button class="btn btn-success">Submit</button>
        </div>  
      
      </div>
    </div>
    
    </form>

    <div class="d-flex justify-content-center">
      <div class="card" style="width: 48rem; padding-left: 0em; padding-right: 0em; border-color: transparent;">
        <div class="card-body">
          <form action="/input/jenis-spby/lainlain" method="POST">
            <div class="row d-flex justify-content-center">
              <div class="col pr-0"> 
                <input type="text" name="desc" class="form-control" placeholder="Kelengkapan SPBy" aria-label="Kelengkapan SPBy" aria-describedby="button-addon2" id="lainlain">
    
              </div>
              <div class="col p-0">
                <button class="btn btn-outline-secondary" id="button-addon2">+</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    

    <!-- Tombol Submit cadangan xixixi -->
    <!-- <div class="d-flex justify-content-center">
      <div class="card mt-4" style="width: 48rem; background-color: transparent; padding-left: 0em; padding-right: 0em; border-color: transparent;">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light">submit</button> 
        </div>
      </div>           
    </div>     -->

    <!-- Tabel Data Jenis SPBy -->
    <div class="card" style="padding-right: 1em; margin: 3em">
      <table class="table table-bordered m-2">
        <thead>
          <tr>
            <div class="justify-content-center">
              <div class="d-flex pl-1">
                <th scope="col" class="">No</th>
                <th scope="col" class="flex-grow">Jenis SPBy</th>
                
                <th scope="col" class="">Kelengkapan</th>
              </div>
            </div>
          </tr>
        </thead> 
        <tbody>
          <% let nomor = 0 %> 
          <% for (let jenisSpby of jenisSpbys) { %>
          <% nomor = nomor + 1 %>
          <tr>
            <th scope="row"><%= nomor %></th>
            <td><%= jenisSpby.jenisSPBy %></td>
            
            <td>
              <% if (jenisSpby.ttdPPK) { %> <p><%= jenisSpby.ttdPPK %>,  <% } %>
              <% if (jenisSpby.pengeluaranRiil) { %> <%= jenisSpby.pengeluaranRiil %>, <% } %>
              <% if (jenisSpby.persetujuanPBJ) { %> <%= jenisSpby.persetujuanPBJ %>, <% } %>
              <% if (jenisSpby.spd) { %> <%= jenisSpby.spd %>, <% } %>
              <% if (jenisSpby.memoPerintahBayar) { %> <%= jenisSpby.memoPerintahBayar %>, <% } %>
              <% if (jenisSpby.permohonanPembayaran) { %> <%= jenisSpby.permohonanPembayaran %>, <% } %>
              <% if (jenisSpby.notaDinas) { %> <%= jenisSpby.notaDinas %>, <% } %>
              <% if (jenisSpby.suratTugas) { %> <%= jenisSpby.suratTugas %>, <% } %>
              <% if (jenisSpby.kesesuaianSBM) { %> <%= jenisSpby.kesesuaianSBM %>, <% } %>
              <% if (jenisSpby.buktiPembayaranKKP) { %> <%= jenisSpby.buktiPembayaranKKP %>, <% } %>
              <% if (jenisSpby.absensi) { %> <%= jenisSpby.absensi %>, <% } %>
              <% if (jenisSpby.spj) { %> <%= jenisSpby.spj %>, <% } %>
              <% if (jenisSpby.rincianTransport) { %> <%= jenisSpby.rincianTransport %>, <% } %>
              <% if (jenisSpby.pajak.duaSatu ) { %> <%= jenisSpby.pajak.duaSatu  %>, <% } %>
              <% if (jenisSpby.pajak.duaDua ) { %> <%= jenisSpby.pajak.duaDua  %>, <% } %>
              <% if (jenisSpby.pajak.duaTiga ) { %> <%= jenisSpby.pajak.duaTiga  %>, <% } %>
              <% if (jenisSpby.pajak.final ) { %> <%= jenisSpby.pajak.final %>, <% } %>
              <% if (jenisSpby.pajak.ppn ) { %> <%= jenisSpby.pajak.ppn  %>, <% } %>
              <% if (jenisSpby.lainlain ) { %> <% for ( lain of jenisSpby.lainlain) { %> 
                <%= lain.desc %>,
                <% }}%></p>
            </td>       
          </tr>
          <% } %>
        </tbody>              
      </table>
    </div>

    <!-- Tombol Kembali -->
    <div class="d-flex justify-content-end">
      <div class="card" style="width: 6rem; margin-right: 3em">
        <a class="btn btn-light" href="/input" role="button">Kembali</a>
      </div>
    </div>
    

</div>