<% layout('layout/template.ejs') %>
<h1 class="text-center mb-3" style="color: white">Detail Spby</h1>
<h4 class="text-center mb-3" style="color: white">
  Jenis: <%= inputedGups.jenisSpby %>
</h4>
<div class="d-flex justify-content-center">
    <div class="card text-left" style="width: 36rem;">
        <div class="card-body">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <th>No Spby</th>
                <th><%= inputedGups.nomorSpby %></th>
              </tr>
              <tr>
                <th>Jenis SPBy</th>
                <th><%= inputedGups.jenisSpby %></th>
              </tr>
              <tr>
                <th>Deskripsi</th>
                <th><%= inputedGups.uraian %></th>          
              </tr>
              <tr>
                <th>Nama PPK</th>
                <th><%= inputedGups.ppk %></th>          
              </tr>               
              <tr>
                <th>No Nota Dinas</th>
                <th><%= inputedGups.nomorNd %></th>
              </tr>
              <tr>
                <th>No Surat Tugas</th>
                <th><%= inputedGups.nomorSt %></th>
              </tr>
              <tr>
                <th>Nominal Spby</th>
                <th
                <% if ( inputedGups.jumlahSpby !== jumlahKwitansi) { %> 
                    style="background-color: #dc3545"
                <% } %> 
                ><%= inputedGups.jumlahSpby.toLocaleString('id-ID') %></th>
              </tr>
              <tr>
                <th>Nominal Kuitansi</th>
                <th
                <% if ( inputedGups.jumlahSpby !== jumlahKwitansi) { %> 
                    style="background-color: #dc3545"
                <% } %> 
                ><%= jumlahKwitansi.toLocaleString('id-ID') %></th>
              </tr>
              <% for (let x in jenisSpby) { %>
              <tr>
                <th ><%= jenisSpby[x] %></th>
                <th><%= checked[x] === 'kosong' ? "-" : "v" %></th>
              </tr>
              <% } %>
              <% for (let i = 0 ; i < lainlain.length ; i++) {%>
                <% let status = 0 %> 
                <tr>
                  <th ><%= lainlain[i].desc %></th>
                  <th>
                    <% for (let a = 0 ; a < checked.lainlain.length ; a++ ) { console.log(`ini yg ada: ${checked.lainlain[a]}, ini yang seharusnya ada: ${lainlain[i].desc}, kesimpulan:${checked.lainlain[a] == lainlain[i].desc} `)%> 
                      <% if (checked.lainlain[a] == lainlain[i].desc) { %>
                        <% status = status + 1 %>

                      <% } else {%>
                        <%status = status + 0 %>
                          
                      <% } %> 
                    <% } %>
                    <%= status === 1 ? 'v' : '-' %> 
                  </th>
                </tr>
                <% } %>
                  <% if (checked && checked.duaSatu) { %><tr><th>Pajak 21</th> <th><%= checked.duaSatu.toLocaleString('id-ID')  %><% } %></th></tr>
                  <% if (checked && checked.kjsDuaSatu) { %><tr><th>KJS 21</th> <th><%= checked.kjsDuaSatu  %><% } %></th></tr>
                  <% if (checked && checked.duaDua) { %><tr><th>Pajak 22</th> <th><%= checked.duaDua.toLocaleString('id-ID')  %><% } %></th></tr>
                  <% if (checked && checked.kjsDuaDua) { %><tr><th>KJS 22</th> <th><%= checked.kjsDuaDua  %><% } %></th></tr>
                  <% if (checked && checked.duaTiga) { %><tr><th>Pajak 23</th> <th><%= checked.duaTiga.toLocaleString('id-ID')  %><% } %></th></tr>
                  <% if (checked && checked.kjsDuaTiga) { %><tr><th>KJS 23</th> <th><%= checked.kjsDuaTiga  %><% } %></th></tr>
                  <% if (checked && checked.final) { %><tr><th>Pajak 4 ayat 2</th> <th><%= checked.final.toLocaleString('id-ID') %><% } %></th></tr>
                  <% if (checked && checked.kjsFinal) { %><tr><th>KJS PPN</th> <th><%= checked.kjsFinal  %><% } %></th></tr>
                  <% if (checked && checked.ppn) { %><tr><th>Pajak PPN</th> <th><%= checked.ppn.toLocaleString('id-ID')  %><% } %></th></tr>
                  <% if (checked && checked.kjsPpn) { %><tr><th>KJS final</th> <th><%= checked.kjsPpn  %><% } %></th></tr>
              <tr>
                <th>NPWP</th>
                <th><%= checked.npwp %></th>
              </tr>
              <tr>
                <th>Rekanan</th>
                <th><%= checked.rekanan %></th>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
</div>
<div class="d-flex justify-content-center">
  <div style="padding-left: 31em;">
    <div class="card-body">
      <a href="/monitoring" class="btn btn-light" role="button">Kembali</a>
    </div>
  </div>
</div>
 



