<% layout('layout/template.ejs') %>

<h1 class="text-center mb-3" style="color: white">Monitoring Spby</h1>

  <div class="d-flex justify-content-center">
    <% if (!filter) { %>
      <div class="card mb-3" style="width: 28rem">
    <% } %>
    <% if (filter) { %>
      <div class="card mb-3" style="width: 40rem">
    <% } %>    
      <div class="d-flex bd-highlight">
        <form action="/monitoring" method="GET" class="p-2 flex-grow-1 flex-fill bd-highlight">
          <select class="form-select" name="filter" onchange='if(this.value != 0) { this.form.submit(); console.log("berubah")}'>
            <option value="0" <%= '0' === filter ? "selected" : "" %>>Filter Berdasarkan</option>
            <option value="daftarPpk" <%= 'daftarPpk' === filter ? "selected" : "" %>>PPK</option>
            <option value="kelengkapan" <%= 'kelengkapan' === filter ? "selected" : "" %>>Status</option>
            <option value="nomorSpby" <%= 'nomorSpby' === filter ? "selected" : "" %>>Nomor SPBy</option>
          </select>
        </form>
        <% if ( filter === "nomorSpby") { %>
          <form action="/monitoring/filterNomorSpby" method="POST" class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 flex-fill bd-highlight">
              <input type="number" name="valueFilter" class="form-control" id="floatingInput" placeholder="Nomor SPBy">
            </div>
            <div
              class="p-2 flex-fill bd-highlight"
              style="display: flex; justify-content: center"
            >
              <button
                type="submit"
                class="btn btn-warning d-flex justify-content-center"
                style="width: 100%"
              >
                Filter
              </button>
            </div>

          </form>
        <% } %>

        <% if ( filter === "daftarPpk" ) { %>
          <form action="/monitoring/filterPpk" method="POST" class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 flex-fill bd-highlight">
              <select
                class="form-select"
                name="valueFilter"
              >
                <option selected disabled value="">Pilih Data</option>
                <% if ( filter === "daftarPpk" ) { %>
                  <% for (data of daftarPpk) { %>
                    <option value="<%= data.namaPpk %>"><%= data.namaPpk %></option>
                    <% } %>
                <% } %> 
                <% if ( filter === "kelengkapan") { %>
                    <option value="Lengkap dan Sesuai">Lengkap dan Sesuai</option>
                    <option value="Belum Lengkap">Belum Lengkap</option>
                    <option value="Belum Sesuai">Belum Sesuai</option>
                    <option value="Belum Lengkap dan Sesuai">Belum Lengkap dan Sesuai</option>
                <% } %> 
  
              </select>
            </div>
            <div
              class="p-2 flex-fill bd-highlight"
              style="display: flex; justify-content: center"
            >
              <button
                type="submit"
                class="btn btn-warning d-flex justify-content-center"
                style="width: 100%"
              >
                Filter
              </button>
            </div>
          </form>
        <% } %> 

        <% if ( filter === "kelengkapan") { %>
          <form action="/monitoring/filterKelengkapan" method="POST" class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 flex-fill bd-highlight">
              <select
                class="form-select"
                name="valueFilter"
              >
                <option selected disabled value="">Pilih Data</option>
                <% if ( filter === "daftarPpk" ) { %>
                  <% for (data of daftarPpk) { %>
                    <option value="<%= data.namaPpk %>"><%= data.namaPpk %></option>
                    <% } %>
                <% } %> 
                <% if ( filter === "kelengkapan") { %>
                    <option value="Lengkap dan Sesuai">Lengkap dan Sesuai</option>
                    <option value="Belum Lengkap">Belum Lengkap</option>
                    <option value="Belum Sesuai">Belum Sesuai</option>
                    <option value="Belum Lengkap dan Sesuai">Belum Lengkap dan Sesuai</option>
                <% } %> 
  
              </select>
            </div>
            <div
              class="p-2 flex-fill bd-highlight"
              style="display: flex; justify-content: center"
            >
              <button
                type="submit"
                class="btn btn-warning d-flex justify-content-center"
                style="width: 100%"
              >
                Filter
              </button>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </div>

<div class="card text-center">
  <div class="card-body">
    <div class="tableFixHead">
      <table>
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">No Spby</th>
            <th scope="col">No ND</th>
            <th scope="col">No ST</th>
            <th scope="col">No Kwitansi</th>
            <th>Nominal SPBy</th>
            <th scope="col">Jenis SPBy</th>
            <th scope="col">PPK</th>
            <th scope="col">Status</th>
            <th scope="col">Detail</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% let nomor = 0 %> <%for (inputedGup of inputedGups) {%> <% nomor =
          nomor + 1 %>
          <tr>
            <th scope="row"><%= nomor %></th>
            <td><%= inputedGup.nomorSpby %></td>
            <td><%= inputedGup.nomorNd %></td>
            <td><%= inputedGup.nomorSt %></td>
            <% if (inputedGup.checked) { %>
            <td><%= inputedGup.checked.nomorkwitansi %></td>
            <% } else {%>
            <td></td>
            <% } %>
            <td><%= inputedGup.jumlahSpby.toLocaleString('id-ID') %></td>
            <td><%= inputedGup.jenisSpby %></td>
            <td><%= inputedGup.ppk %></td>
            <td><%= inputedGup.kelengkapan %></td>
            <td>
              <a
                class="btn btn-warning"
                href="/monitoring/<%=inputedGup._id%>"
                role="button"
                >Lihat</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                href="/input/gup-tunai/update/<%=inputedGup._id%>"
                role="button"
                >Update</a
              >
            </td>
            <td>
              <form
                action="/input/gup-tunai/<%=inputedGup._id%>?_method=delete"
                method="POST"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<a href="/input/gup-tunai" class="mt-3 btn btn-light" role="button"
  >Input SPBy</a
>
