<% layout('layout/template.ejs') %>

<h1 class="text-center mb-3" style="color: white">Monitoring Spby</h1>


<div class="d-flex justify-content-center">

  <!-- filter -->
  <div class="card mb-3">
    <form action="/monitoring/filter" method="POST" class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 flex-fill bd-highlight">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 18rem ;">
            Filter By PPK
          </button>
          <div class="dropdown-menu p-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[daftarPpk]" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                No Filter
              </label>
            </div>
            <% for (data of daftarPpk) { %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="valueFilter[daftarPpk]" value="<%= data.namaPpk %>" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  <%= data.namaPpk %>
                </label>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="p-2 flex-grow-1 flex-fill bd-highlight">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="width: 18rem ;">
            Filter By Status
          </button>
          <div class="dropdown-menu p-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[kelengkapan]" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                No Filter
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[kelengkapan]" value="Lengkap dan Sesuai" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Lengkap dan Sesuai
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[kelengkapan]" value="Belum Lengkap" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Belum Lengkap
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[kelengkapan]" value="Belum Sesuai" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Belum Sesuai
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="valueFilter[kelengkapan]" value="Belum Lengkap dan Sesuai" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Belum Lengkap dan Sesuai
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="p-2 flex-fill bd-highlight"
        style="display: flex; justify-content: center"
      >
        <button
          type="submit"
          class="btn btn-warning d-flex justify-content-center"
          style="width: 100%"
        >
          Filter
        </button>
      </div>
    </form>
  </div>


  <!-- search -->
  <div class="card mb-3" style="margin-left: 2em ;">
    <form action="/monitoring/search" method="POST" class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 flex-fill bd-highlight">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">Nomor SPBy</span>
          <input type="number" name="valueFilter[nomorSpby]" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>
      <div
        class="p-2 flex-fill bd-highlight"
        style="display: flex; justify-content: center"
      >
        <button
          type="submit"
          class="btn btn-warning d-flex justify-content-center"
          style="width: 100%"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>


<!-- view monitoring -->

<div class="card text-center">
  <div class="card-body">
    <div class="tableFixHead">
      <table>
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">No Spby</th>
            <th scope="col">No ND</th>
            <th scope="col">No ST</th>
            <th scope="col">No Kwitansi</th>
            <th>Nominal SPBy</th>
            <th scope="col">Jenis SPBy</th>
            <th scope="col">PPK</th>
            <th scope="col">Status</th>
            <th scope="col">Detail</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% let nomor = 0 %> <%for (inputedGup of inputedGups) {%> <% nomor =
          nomor + 1 %>
          <tr>
            <th scope="row"><%= nomor %></th>
            <td><%= inputedGup.nomorSpby %></td>
            <td><%= inputedGup.nomorNd %></td>
            <td><%= inputedGup.nomorSt %></td>
            <% if (inputedGup.checked) { %>
            <td><%= inputedGup.checked.nomorkwitansi %></td>
            <% } else {%>
            <td></td>
            <% } %>
            <td><%= inputedGup.jumlahSpby.toLocaleString('id-ID') %></td>
            <td><%= inputedGup.jenisSpby %></td>
            <td><%= inputedGup.ppk %></td>
            <td><%= inputedGup.kelengkapan %></td>
            <td>
              <a
                class="btn btn-warning"
                href="/monitoring/<%=inputedGup._id%>"
                role="button"
                >Lihat</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                href="/input/gup-tunai/update/<%=inputedGup._id%>"
                role="button"
                >Update</a
              >
            </td>
            <td>
              <form
                action="/input/gup-tunai/<%=inputedGup._id%>?_method=delete"
                method="POST"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<a href="/input/gup-tunai" class="mt-3 btn btn-light" role="button"
  >Input SPBy</a
>
